@font-face {
    font-family: "Bigtimes";
    src: url('https://dl.dropbox.com/scl/fi/0ioo4mek7hvd0vsb4edgh/Bigtimes.otf?rlkey=qfq6l70uubqs1vvf0ov2usb0v&st=3vpj94gx&dl=0') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}