@font-face {
    font-family: "Crobery";
    src: url('https://dl.dropbox.com/scl/fi/krnj8zna7zoyz9aoiuypn/Crobery-rvO7O.otf?rlkey=6clkk71x8neyootem0ou8pxsg&st=3potolyg&dl=0') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}